<!DOCTYPE html>
<html>
  
<head>
  <title>Keskustelu</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
  <h1>Oheislaitteiden arvostelut</h1>
  </div>
  
  <div class="nav">
  <p>
    <a href="/register">Luo tunnus</a> |
    {% if session.user_id %}
    <a href="/logout">Kirjaudu ulos</a>
    {% else %}
    <a href="/login">Kirjaudu sisään</a>
    {% endif %}
  </p>
  
  <form action="/search" method="get">
      Haku:
      {% if query %}
        <input type="text" name="query" value="{{ query }}" />
      {% else %}
        <input type="text" name="query" />
      {% endif %}

    Hinta (enintään):
    {% if max_price %}
      <input type="number" name="max_price" value="{{ max_price }}" step="1" min="0" />
    {% else %}
      <input type="number" name="max_price" step="1" min="0" />
    {% endif %}

    Arvosana /5 (vähintään):
    {% if min_rating %}
      <input type ="number" name="min_rating" value="{{ min_rating }}" step="1" min="0" max="5" />
    {% else %}
      <input type ="number" name="min_rating" step="1" min="0" max="5" />
    {% endif %} 
    
    <input type="submit" value="Hae" />
  </form>
  </div>

  <div class="content">
  <hr />
  {% for thread in threads %}
  <div class="thread">
  <p>
    <a href="/thread/{{ thread.id }}#{{  message_id  }}">
      {{ thread.title }}</thread></a><br>
      <small> {{ thread.rating }}/5 | {{ thread.price }}€</small><br>
    {{ thread.total }} kommenttia.
    {% if thread.last %}
      Uusin {{ thread.last }}
    {% else %}
    
    {% endif %}
  </p>
  <hr />
  </div>
  {% endfor %}
  <p>
    <a href="/{{ page - 1 }}">&lt;&lt;</a>
    Sivu {{ page }}/{{ page_count }}
    <a href="/{{ page + 1 }}">&gt;&gt;</a>
  </p>
  </div>
  <hr />
  <p>
    <a href="/new_thread">Uusi julkaisu</a>
  </p>
</body>

</html>
