<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1> Haku </h1>
  </div>
  <hr />

  <div class="nav">
    <form action="/search" method="get">
    <p>
      Hakusana:
      {% if query %}
      <input type="text" name="query" value="{{ query }}" />
      {% else %}
      <input type="text" name="query" />
      {% endif %}
    </p>
    <input type="submit" value="Hae" />
    </div>
  
  <div class="content">

  </form>
    {% if results %}
    <hr />
    <h2>Tulokset</h2>
    
    <ul>
    {% for result in results %}
      <div class="thread">
        <p>
          <a href="/thread/{{ result.thread_id }}">
            {{ result.thread_title }}
          </a><br>

          <small>{{ result.rating }}/5 | {{ result.price }}€</small><br>

          {{ result.username }}
          {% if result.sent_at %}
            ({{ result.sent_at }})
          {% endif %}
        </p>
      </div>
    {% endfor %}
    </ul>
    {% endif %}
    <hr />
    </div>
    <hr />

    <p>
        <a href="/">Etusivulle</a>
    </p>
</body>